// module/_modal.scss

@use "../global/" as g;

.modal {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100dvh;
  margin: 0 auto;
  padding: 72px 160px;
  inset-inline: 0;
  inset-block: 0;
  border: 0;
  background-color: transparent;
  z-index: index(g.$z, modal);

  animation-name: closeModal;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;

  &::backdrop {
    background: rgba(94, 94, 94, 0.16);
  }
  
  &_inner {
    max-width: 1112px;
    margin-inline: auto;
    padding: 16px;
    background-color: var(--color-white);
    border-radius: 32px;
  }

  &_foot {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    > * {
      max-width: 280px;
    }
  }

  &[open]{
    animation-name: showModal;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    max-width: inherit;
    max-height: inherit;
    margin: 0;
  }

  &_contents {
    height: 1500px;
    background-color: var(--color-gray90);
  }
}



@keyframes showModal {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes closeModal {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}