// module/_modal.scss

@use "../global/" as g;

.modal {
  display: inline-block;
  position: relative;
  // max-width: 768px;
  max-width: 80%;
  // width: 100%;
  margin: 80px auto;

  @include g.media(md) {
  }

  @include g.media(sm) {
    max-width: 100%;
    width: calc(100% - 24px);
    margin: 80px 12px;
  }

  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    margin: auto auto auto auto;
    z-index: index(g.$z, modal);
    overflow-y: scroll;
    transition: .25s ease-out;
  
    &.open {
      visibility: visible;
      display: flex;
    }
  }

  &-figure {
    padding: 40px 0;
    img {
      width: 123px;
    }
  }

  &-title {
    @include g.fz(24);
    padding-bottom: 24px;

    &.left {
      text-align: left;
    }
  }

  &-btn {
    @include g.fz(14);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    color: g.$COLOR_GRAY50;
    font-weight: 500;
    transition: .25s ease-out;
    cursor: pointer;
    z-index: index(g.$z, modal-layer2);
  
    i {
       @include g.fz(24);
    }
  
    &:hover {
      opacity: .5 !important;
    }
  }

  &-container {
    opacity: 0;
    visibility: hidden;
    text-align: center;
    width: 100%;
    min-width: 486px;
    transition: .25s ease-out;
  
    > * {
      display: block;
      position: relative;
      z-index: index(g.$z, modal-layer1);
  
      .inner {
        background-color: g.$COLOR_WHITE;
        border-radius: 4px;
        padding: 48px;
      }
    }
  
    .btn_list {
      padding-top: 24px;
      > * {
        width: 100%;
      }
    }

    .open & {
      visibility: visible;
      opacity: 1;
    }

    @include g.media(sm) {
      min-width: auto;

      > * {
  
        .inner {
          padding: 32px;
        }
      }
    }
  }

  &-form {
    > * {
      margin-bottom: .5em;

      &:nth-child(2n) {
        margin-bottom: 1.5em;
      }

      &:last-child {
        margin-bottom: 0;
      }

      > * {
        margin-bottom: .5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-content {
    display: none;
  }
}