// module/_modal.scss

@use "../global/" as g;

.modal {
  display: block;
  position: fixed;
  inset-inline: 0;
  inset-block: 0;
  box-shadow: 0px 20px 36px 0px rgba(0, 0, 0, 0.6);

  animation-name: closeModal;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;

  &::backdrop {
    background: rgba(94, 94, 94, 0.5);
    backdrop-filter: blur(4px);
  }
  
  &_inner {
    padding: 16px;
  }

  &[open]{
    animation-name: showModal;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
  }
}

@keyframes showModal {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes closeModal {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}