<header class="l-header">

  <h1>LOGO</h1>

  <!-- Toggle -->
  <div class="menu-trigger">
    <span class="js-menu-trigger">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>

  <!-- Nav -->
  <nav class="l-header_gnavi gnavi js-globalnav">
    <ul class="gnavi-menu">
      <li class="gnavi-menu_item"><a href="#">MENU01</a></li>
    </ul>
  </nav>
  <!-- /Nav -->

</header>