// project/_base.scss

@use "../global/" as g;

body {
  width: 100%;
  font-family: g.$BASE_FONT_FAMILY;

  &.fixed {
    position: fixed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}