// project/_base.scss

@use "../global/" as g;

body {
  width: 100%;
  font-family: var(--font_family-base);

  &.fixed {
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}