<!DOCTYPE html>
<html lang="ja">
  <%
    var path = './';
    var title = '';

    localmeta = {
      rel_path: path,
      ttl: title,
      page_name: 'home',
      page_sub: ''
    };
  %>

  <%- include('./common/_head', {meta: localmeta}); %>

    <body>
      <%- include('./common/_header', {meta: localmeta}); %>

        <!-- スライダー -->
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><span class="fig" style="background-image: url(https://picsum.photos/1900/800/?random);"></span></div>
            <div class="swiper-slide"><span class="fig" style="background-image: url(https://picsum.photos/1900/840/?random);"></span></div>
            <div class="swiper-slide"><span class="fig" style="background-image: url(https://picsum.photos/1900/900/?random);"></span></div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

        <!-- ページ内リンク -->
        <a href="#test">リンク</a>

        <!-- モーダル -->
        <dialog class="js-modal modal" style="display: none;">
          <div class="modal_inner">
            <div class="modal_contents">
              <p>dialog内のテキスト</p>
            </div>
            <button class="js-modal_close" type="button">閉じる</button>
          </div>
        </dialog>
        
        <button class="js-modal_open" type="button">モーダル</button>

        <!-- アコーディオン -->
        <div class="js-accordion">
          <article class=" js-accordion-trigger">
            <h3>質問内容</h3>
            <div class="accordion__content">
              回答　ダミーダミーダミーダミー
            </div>
          </article>
          <article class=" js-accordion-trigger">
            <h3>質問内容</h3>
            <div class="accordion__content">
              回答　ダミーダミーダミーダミー
            </div>
          </article>
          <article class=" js-accordion-trigger">
            <h3>質問内容</h3>
            <div class="accordion__content">
              回答　ダミーダミーダミーダミー
            </div>
          </article>
        </div>

        <!-- レイアウト集 -->

        <div class="object fadein"><span>OBJECT</span></div>

        <div class="wrapper wrapper_left fadein">
          <div class="object"><span>OBJECT</span></div>
        </div>

        <div class="wrapper wrapper_center fadein">
          <div class="object"><span>OBJECT</span></div>
        </div>

        <div class="wrapper wrapper_right fadein">
          <div class="object"><span>OBJECT</span></div>
        </div>

        <div class="wrapper wrapper_half fadein_order">
          <div class="object"><span>OBJECT</span></div>
          <div class="object"><span>OBJECT</span></div>
        </div>

        <div class="wrapper wrapper_list fadein_order" id="test">
          <div class="object"><span>OBJECT</span></div>
          <div class="object"><span>OBJECT</span></div>
          <div class="object"><span>OBJECT</span></div>
          <div class="object"><span>OBJECT</span></div>
        </div>

        <div class="wrapper wrapper_fix_flex fadein_order">
          <div class="object"><span>OBJECT</span></div>
          <div class="object"><span>OBJECT</span></div>
          <div class="object"><span>OBJECT</span></div>
        </div>

        <%- include('./common/_spy', {meta: localmeta}); %>

        <%- include('./common/_footer', {meta: localmeta}); %>

    </body>

</html>