// global/_variable.scss

// Size

$BREAK_POINT_PC:      1440px;
$BREAK_POINT_TABLET:  1024px;
$BREAK_POINT_SP:      640px;

// Font Setting
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

$BASE_FONT_SIZE: 16px;
$BASE_FONT_FAMILY: 'Noto Sans JP', sans-serif, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Osaka";
$BASE_LINE_HEIGHT: 1.8;

// Color

$COLOR_WHITE: #FFF;
$COLOR_GRAY100: #fff; // 100%
$COLOR_GRAY95: #f2f2f2; // 95%
$COLOR_GRAY90: #e6e6e6; // 90%
$COLOR_GRAY85: #d9d9d9; // 85%
$COLOR_GRAY80: #cccccc; // 80%
$COLOR_GRAY75: #bfbfbf; // 75%
$COLOR_GRAY70: #b3b3b3; // 70%
$COLOR_GRAY65: #a6a6a6; // 65%
$COLOR_GRAY60: #999999; // 60%
$COLOR_GRAY55: #8c8c8c; // 55%
$COLOR_GRAY50: #808080; // 50%
$COLOR_GRAY45: #737373; // 45%
$COLOR_GRAY40: #666666; // 40%
$COLOR_GRAY35: #595959; // 35%
$COLOR_GRAY30: #4d4d4d; // 30%
$COLOR_GRAY25: #404040; // 25%
$COLOR_GRAY20: #333333; // 20%
$COLOR_GRAY15: #262626; // 15%
$COLOR_GRAY10: #1a1a1a; // 10%
$COLOR_GRAY00: #000; // 0%
$COLOR_BLACK: #000;


// Zindex
$z:
content_layer1,
content_layer2,
content_layer3,
content_layer4,
content_layer5,
overlay,
header,
modal,
modal-layer1,
modal-layer2,
modal-layer3,
modal-layer4,
modal-layer5,
menu,
menu-toggle,
;
// z-index: index(g.$z, header);
